@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 18px;
}

body {
  font-family: 'Nunito', sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(31, 30, 30);
  /* background-color: #f7f7f7; */
  background: #feac5e; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #4bc0c8,
    #c779d0,
    #feac5e
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #4bc0c8,
    #c779d0,
    #feac5e
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.game-wrapper {
  background-color: white;
  border-radius: 10px;
  height: 90vh;
  width: 90vw;
  margin: auto;
  border: 1px none #999;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  -webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
}

.game-header {
  padding-top: 2em;
  height: 20vh;
  text-align: center;
  position: relative;
  z-index: 1;
}

#player-score {
  color: blue;
  font-weight: bold;
}

#computer-score {
  color: red;
  font-weight: bold;
}

.title-second-line {
  display: flex;
  justify-content: space-evenly;
  padding-top: 1.5em;
  font-weight: bold;
  font-size: 1.1em;
}

.rule {
  position: absolute;
  right: 1.5em;
  top: 5.5em;
  z-index: 1;
}

#round {
  position: absolute;
  left: 0.8em;
  top: 0.8em;
  font-weight: bold;
  font-size: 2.5em;
}

.game-area {
  flex-grow: 1;
  display: flex;
}

.player-area {
  width: 100%;
}

.player-choice {
  padding: 4rem 0 1rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.player-choice-selection {
  font-size: 2rem;
  text-align: center;
}

.player-choice-picture {
  background: rgb(253, 253, 252);
  border-radius: 10px;
  width: 15vw;
  height: 20vw;
  text-align: center;
}

.player-choice-picture img {
  width: 100%;
  border-radius: 10px;
  height: auto;
  width: auto;
  max-width: 15vw;
  max-height: 20vw;
  margin: 1.5em;
}

.player-area.player {
  background: dodgerblue;
}

.player-area.computer {
  background: pink;
}

.player-actions {
  text-align: center;
}

#count-down {
  position: fixed;
  width: 50%;
  text-align: center;
  top: 40%;
  left: 25%;
  font-size: 5rem;
  color: green;
  font-weight: bold;
  background-color: rgba(248, 242, 242, 0.733);
  -webkit-box-shadow: 5px 5px 15px 5px #ff8080, -9px 5px 15px 5px #ffe488,
    -7px -5px 15px 5px #8cff85, 12px -5px 15px 5px #80c7ff,
    12px 10px 15px 7px #e488ff, -10px 10px 15px 7px #ff616b,
    -10px -7px 27px 1px #8e5cff, 5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: 5px 5px 15px 5px #ff8080, -9px 5px 15px 5px #ffe488,
    -7px -5px 15px 5px #8cff85, 12px -5px 15px 5px #80c7ff,
    12px 10px 15px 7px #e488ff, -10px 10px 15px 7px #ff616b,
    -10px -7px 27px 1px #8e5cff, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

#selected-pic,
#computer-pic {
  height: 17em;
  width: 15em;
}

.button.picture-selection {
  height: 1.5em;
  width: 1.5em;
  margin: 0.5em;
  border-radius: 50%;
  background: linear-gradient(#eff1f1, #acabad);
}

.button {
  font-size: 0.9em;
  font-weight: bolder;
  height: 2.5em;
  width: 10em;
  border-radius: 0.5em;
  border-style: none;
  margin-top: 0.7em;
  background: linear-gradient(#eff1f1, #acabad);
}

.button:hover {
  background: linear-gradient(#acabad, #eff1f1);
}

#play-again-outside {
  position: absolute;
  right: 6em;
  top: 3em;
  z-index: 2;
}

.hide {
  display: none;
}

.final-result-picture {
  display: grid;
  place-items: center;
  overflow: hidden;
}

#congrats-pic,
#looser-pic {
  max-height: 65vh;
  max-width: auto;
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

/* card flip animation */
.flip-vertical-right {
  -webkit-animation: flip-vertical-right 0.4s
    cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
  animation: flip-vertical-right 0.4s cubic-bezier(0.455, 0.03, 0.515, 0.955)
    both;
}

@-webkit-keyframes flip-vertical-right {
  0% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
  }
  100% {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }
}
@keyframes flip-vertical-right {
  0% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
  }
  100% {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }
}

/*shake final result pictures animation*/
@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
